In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('/content/onlinefoods.csv')

In [5]:
df.head(3)

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,Output,Feedback,Unnamed: 12
0,20,Female,Single,Student,No Income,Post Graduate,4,12.9766,77.5993,560001,Yes,Positive,Yes
1,24,Female,Single,Student,Below Rs.10000,Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
2,22,Male,Single,Student,Below Rs.10000,Post Graduate,3,12.9551,77.6593,560017,Yes,Negative,Yes

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         388 non-null    int64
 1   Gender                      388 non-null    object
 2   Marital Status              388 non-null    object
 3   Occupation                  388 non-null    object
 4   Monthly Income              388 non-null    object
 5   Educational Qualifications  388 non-null    object
 6   Family size                 388 non-null    int64
 7   latitude                    388 non-null    float64
 8   longitude                   388 non-null    float64
 9   Pin code                    388 non-null    int64
 10  Output                      388 non-null    object
 11  Feedback                    388 non-null    object
 12  Unnamed: 12                 388 non-null    object
dtypes: float64(2), int64(3), object(8)
memory usage: 39.5+ KB

In [7]:
df.isna()

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,Output,Feedback,Unnamed: 12
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,False,False,False,False,False,False,False,False,False,False,False,False,False
384,False,False,False,False,False,False,False,False,False,False,False,False,False
385,False,False,False,False,False,False,False,False,False,False,False,False,False
386,False,False,False,False,False,False,False,False,False,False,False,False,False
387,False,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
df.isna().sum()

Age                           0
Gender                        0
Marital Status                0
Occupation                    0
Monthly Income                0
Educational Qualifications    0
Family size                   0
latitude                      0
longitude                     0
Pin code                      0
Output                        0
Feedback                      0
Unnamed: 12                   0
dtype: int64

In [9]:
df.isnull()

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,Output,Feedback,Unnamed: 12
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,False,False,False,False,False,False,False,False,False,False,False,False,False
384,False,False,False,False,False,False,False,False,False,False,False,False,False
385,False,False,False,False,False,False,False,False,False,False,False,False,False
386,False,False,False,False,False,False,False,False,False,False,False,False,False
387,False,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
df.isnull().sum()

Age                           0
Gender                        0
Marital Status                0
Occupation                    0
Monthly Income                0
Educational Qualifications    0
Family size                   0
latitude                      0
longitude                     0
Pin code                      0
Output                        0
Feedback                      0
Unnamed: 12                   0
dtype: int64

In [11]:
df.columns

Index(['Age', 'Gender', 'Marital Status', 'Occupation', 'Monthly Income',
       'Educational Qualifications', 'Family size', 'latitude', 'longitude',
       'Pin code', 'Output', 'Feedback', 'Unnamed: 12'],
      dtype='object')

In [13]:
coltokeep = ['Age', 'Gender', 'Marital Status', 'Occupation', 'Monthly Income',
       'Educational Qualifications', 'Family size','Output', 'Feedback']
coltodrop = ['latitude', 'longitude',
       'Pin code','Unnamed: 12']

In [15]:
df.shape

(388, 13)

In [19]:
df = df[coltokeep]

In [20]:
df.columns

Index(['Age', 'Gender', 'Marital Status', 'Occupation', 'Monthly Income',
       'Educational Qualifications', 'Family size', 'Output', 'Feedback'],
      dtype='object')

In [35]:
df.rename(columns = {'Marital Status': 'Marriage'} ,inplace= True)

In [36]:
df.head(1)

,Age,Gender,Marriage,Occupation,Monthly Income,Educational Qualifications,Family size,Output,Feedback
0,20,Female,Single,Student,No Income,Post Graduate,4,Yes,Positive

In [37]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
383     True
384     True
385     True
386    False
387     True
Length: 388, dtype: bool

In [38]:
df.duplicated().sum()

np.int64(144)

In [41]:
df.drop_duplicates(inplace=True)

In [42]:
df.duplicated().sum()

np.int64(0)

In [43]:
df.isna().sum()

Age                           0
Gender                        0
Marriage                      0
Occupation                    0
Monthly Income                0
Educational Qualifications    0
Family size                   0
Output                        0
Feedback                      0
dtype: int64

In [44]:
df.duplicated().value_counts()

False    244
Name: count, dtype: int64

In [45]:
#if we need age in months

In [46]:
df['Age in months'] = df['Age'] * 12

In [48]:
df.head()

,Age,Gender,Marriage,Occupation,Monthly Income,Educational Qualifications,Family size,Output,Feedback,Age in months
0,20,Female,Single,Student,No Income,Post Graduate,4,Yes,Positive,240
1,24,Female,Single,Student,Below Rs.10000,Graduate,3,Yes,Positive,288
2,22,Male,Single,Student,Below Rs.10000,Post Graduate,3,Yes,Negative,264
3,22,Female,Single,Student,No Income,Graduate,6,Yes,Positive,264
4,22,Male,Single,Student,Below Rs.10000,Post Graduate,4,Yes,Positive,264

In [49]:
#male is M female is F

In [64]:
df['Gender'].apply(lambda x: 'F' if x == 'Female' else 'M')

0      M
1      M
2      M
3      M
4      M
      ..
355    M
363    M
369    M
374    M
386    M
Name: Gender, Length: 244, dtype: object

In [65]:
df['Gender'] = df['Gender'].apply(lambda x: 'F' if x == 'Female' else 'M')

In [66]:
df.head()

,Age,Gender,Marriage,Occupation,Monthly Income,Educational Qualifications,Family size,Output,Feedback,Age in months
0,20,M,Single,Student,No Income,Post Graduate,4,Yes,Positive,240
1,24,M,Single,Student,Below Rs.10000,Graduate,3,Yes,Positive,288
2,22,M,Single,Student,Below Rs.10000,Post Graduate,3,Yes,Negative,264
3,22,M,Single,Student,No Income,Graduate,6,Yes,Positive,264
4,22,M,Single,Student,Below Rs.10000,Post Graduate,4,Yes,Positive,264